@media only screen and (min-width: 600px) {
    html {
      font-size: 25px;
    }
    nav{
        width: 100%;
        background-color: rgba(17, 17, 17, 0.719);
        padding: 8px 0px;
        z-index: 50000;
        position: fixed;
        top: 85vh;
        height:150px;
    }
  }
@media only screen and (max-width:599px){
    .logo  {
        font-size: 4.8vw !important;
    }
}








